{% extends '_layout.njk' %}
{% import '_macro/post-collapse.njk' as post_template with context %}
{% import '_macro/sidebar.njk' as sidebar_template with context %}

{% block title %}{{ __('title.tag') }}: {{ page.tag }} | {{ title }}{% endblock %}

{% block class %}tag posts-collapse{% endblock %}

{% block content %}

  {% if page.tag %}
    <div class="post-block">
      <div class="post-content">
        <div class="collection-title">
          <h1 class="collection-header">
            {{- page.tag }}
            <small>{{ __('title.tag') }}</small>
          </h1>
        </div>

        {{ post_template.render(page.posts) }}
      </div>
    </div>
  {% else %}
    <div class="post-block tag-cloud">
      <div class="post-content">
        <div class="tag-cloud-title">
          {{ __('title.tag_cloud') }}
        </div>
        <div class="tag-cloud-tags">
          {{ tagcloud({min_font: 16, max_font: 32, amount: 200, color: true, start_color: '#ccc', end_color: '#111'}) }}
        </div>
      </div>
    </div>
  {% endif %}

  {%- include '_partials/pagination.njk' -%}

{% endblock %}

{% block sidebar %}
  {{ sidebar_template.render(false) }}
{% endblock %}
